body{
  /*font-family: proxima-nova;*/
  font-weight: lighter;
  margin: 0;
}

/*Top Nav*/

.fixed{
  position: fixed;
  top: 0;
  height: 6.250em;
  z-index: 999;
  background-color: #67cecd ;
  color: white;
  box-shadow: 0px 1px 1px #94999c;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6.250em;
  background: #eee;
  box-shadow: 0px 1px 1px #94999c;
}

.nav-title {
  float: left;
  padding: 20px;
  font-size: 2.75em;
  font-weight: lighter;
}

/*Section*/

header {
  height: 100vh;
}

.banner-img{
  background-image: url("../img/photo-top-index.jpg");
  background-size: cover;
  background-position: center center;
}

#section_three {
  background-color: #C63D0F;
  padding: 20px;
}

#contact {
  width: 750px;
  margin: auto;
  padding-bottom: 1em;
}

#contact-form-box{
  background: #1e1e1d;
  padding: 5px 30px;
  margin: 0 auto ;
  width: 45%;
}


#title_row {
  background-color:   #BCF1ED;
}
.indent_list{
  margin: 0em 2.813em;
}

    /* Bootstrap Override*/

.item{
  overflow: hidden;
}

.navbar{
  margin-bottom: 0;
}

.form-control{
  height: 3em;
  background-color: #343433;
  border-radius: 0;
  border: none;
  line-height: 2em;
  color: #FFF;
  font-size: 1em;
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  letter-spacing: 0.1em;

}

.form-control:focus{
  border-color: #FFF;
  border: solid #FFF;
}

.item img{
  width: 100%;
}
.carousel-control {
  height: 100%;
  font-size: 5em;
  color: black;
  opacity: .4;
}

.pre_content{
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.entries{
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #E9ECEC;
  border-radius: 15px;

}

.center_content{
  text-align: center;
}

.center_blogs {
  text-align: center;

}

.blog_formatting{
  padding: 2em;
}

/*Links*/

a {
  color: #FFF;
  font-family: proxima-nova;
}

a:hover{
  text-decoration: none;
  color: #FFF;
  font-family: proxima-nova;
  letter-spacing: 0.2em;
}

a span::hover{
  text-decoration: none;
  color: #C63D0F;
  font-family: proxima-nova;
  letter-spacing: 0.2em;
}

h2{
  text-align: center;
  padding: 10px 15px 30px 15px;
  font-family: proxima-nova;
  letter-spacing: 0.3em;
}


/*Contact Icons*/

@font-face {
  font-family: 'IcoMoon';
  src: url('../fonts/icomoon.woff') format('woff');
}

[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
  font-size: 2.250em;
}

/*Footer*/

footer {
  background-color: #161616;
  color: #fff;
}
ul li{
  list-style: none;
  display: inline;
  padding: 1em;
}

ul li:hover{
  font-size: 1.1em;
}

/*Tablet*/
@media screen and (max-width: 911px){

  header span{
    float: left;
    padding: 20px 10px 5px 40px;
    font-size: 26px;
    font-weight: lighter;
  }

  nav ul{
    margin: 1%; /* make top nav banner thinner*/
    width: 85%;
    float: right;
  }
   #contact-form-box{
    margin: 0 auto ;
    width: 80%;
  }

}


/*Mobile*/
@media screen and (max-width: 536px){

  header nav ul li a{
    text-align: center;
    float: none;
    clear: both;
  }


  nav ul{
    margin: 3%; /* make top nav banner thinner*/
    width: 90%;
    float: right;
  }

  nav ul li {
    background-color: #E9ECEC;
    list-style-type: none;
    padding-right: 20px;
  }

  nav ul li a {
    text-decoration: none;
    float: right;
    line-height: 5px;
    font-size: 15px;
  }

  img.ri
  {
    max-width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 3px;
  }

  .pre_content{
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    padding-top: 1em;
  }

  #contact-form-box{
    margin: 0 auto ;
    width: 80%;
  }

  input.ri {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}

