/*SANDRA IS AWESOME*/

body{
	
	background-size: cover;
	font-family: proxima-nova, sans-serif; 
	font-weight: lighter;
	width: 100%;
	margin: 0;
}

/*Header*/


/*Top Nav*/

.fixed{
	position: fixed;
	top: 0;
	height: 100px;
	z-index: 1;
}

nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: #eee;
}


nav span{
	float: left;
	padding: 30px 25px 0px 30px;
	font-size: 2.250em;
	font-weight: lighter;
}


nav ul{
	margin: 3%; /* shifts nav links down */
	float: right;
}

nav ul li {
	/*background-color: #E9ECEC;*/
	list-style-type: none;
	padding-right: 45px;
	float: left;

	}

nav ul li a {
	text-decoration: none;
	float: right;
	line-height: 20px;
	font-size: 18px;
}

nav ul li a:hover{
	text-decoration: none;
	color: #9F000F;
	font-family: proxima-nova, sans-serif; 
	letter-spacing: 0.2em;
}


/*Section*/

header {
	height: 100vh;
}

section span{
	clear: both;
	
	font-size: px;
}
section h2 {
	text-align: center;
	padding: 10px 15px 5px 15px;
}
section ul {
	
	margin-bottom: 14px
}
section ul li {
	text-align: center;
	list-style-type: none;
}
section div ul li {
	text-align: left;
	list-style-type: none;
}
section ul li a{
	text-align: center;
	list-style-type: none;
	text-decoration: none;
}
section ul li a:hover{
	text-decoration: none;
	color: #9F000F;
	font-family: proxima-nova, sans-serif; 
	letter-spacing: 0.2em;
}



#page_content{
	letter-spacing: 0.063em;
	color: black;
	opacity: 0.9;
	font-size: 0.938em;
	background-color: #FAFAFA;
	width: 50%;
	padding: 30px 20px 30px 30px;
	margin: 0.938em auto;
	border-radius: 0.938em;
}


#page_content.coming_soon{
	margin: 155px auto;
}

#top_banner{
	background-image: url("http://i.imgur.com/83j0L9l.jpg");
	background-size: cover;
	background-position: center center;
}
#section_two {
	background-color: #7E8F7C;
}

#section_three {
	background-color: #C63D0F;
	padding: 20px;
}
#section_four {
	background-color: #E9ECEC;
}

#title_row {
	background-color: 	#BCF1ED;
}
.indent_list{
	margin: 0em 2.813em;
}

/* Bootstrap Override*/

.jumbotron {
	background-color: #7E8F7C;
	height: 400px;
}

.carousel-control {
	top: inherit; 
	bottom: inherit; 
	left: 0;
	height: 400px;
	width: 15%;
	font-size: 60px;
	color: black;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	opacity: .4;
}
.carousel-control.left {
vertical-align: middle;
}
.navbar{
	margin-bottom: 0;
}
.navbar-fixed-top{
	position: inherit;
}


.pre_content{
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	}



.entries{
	letter-spacing: 1px;
	color: #990000;
	font-size: 14px;
	background-color: #E9ECEC;
	margin: 15px;
	border-radius: 15px;

}

code {
	font-size: 0.938em;
	color: #666666;
	font-family: Courier, Monospace;
	background-color: #f8f8f8;
	padding: 1px;
	line-height: 1.4em;
}

.code_block{
	padding: 0.625em;
    width: 70%;
    margin: 0.625em auto;
    border: 0.113em solid #990000;

}

.center_content{
	text-align: center;
	padding: 15%;
}
.center_blogs {
	text-align: center;

}

.blog_formatting{
	padding: 10px 15px 10px 10px;
}

/*Links*/

a {
	color: black;
	font-family: proxima-nova, sans-serif; 

}
a:hover{
	text-decoration: none;
	color: #9F000F;
	font-family: proxima-nova, sans-serif; 
	letter-spacing: 0.2em;
}

a span::hover{
	text-decoration: none;
	color: #C63D0F;
	font-family: proxima-nova, sans-serif; 
	letter-spacing: 0.2em;
}

a img{ 
  opacity: 1; 

} 

a img:hover { 
  opacity: 0.7; 
}

h2{
	text-align: center;
	padding: 10px 15px 30px 15px;
}

h4{
   padding: 20px 0px 15px;
}

h3{
	text-align: center;
	padding: 15px 15px 15px 15px;
}
code h3{
	text-align: center;
	padding: 3px 15px 3px 15px;
}

ul li{
	letter-spacing: 2px;
	padding: 3px;
	color: #990000;
}
/*Contact Icons*/

@font-face {
  font-family: 'IcoMoon';
  src: url('../../font/icomoon.woff') format('woff');
}

[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
  font-size: 36px;
}

/*Footer*/

footer p{
	position: static;
	bottom:0;
	text-align: center;
	width: 100%;
	font-size: 0.875em;
	margin: 0%;
	border-radius: 0%;
	background-color: #E9ECEC;
}


/*Tablet*/
@media screen and (max-width: 911px){

	header span{
	float: left;
	padding: 20px 10px 5px 40px;
	font-size: 26px;
    color: #9F000F;
	font-weight: lighter;
	}

	nav ul{
	margin: 1%; /* make top nav banner thinner*/
	width: 85%;
	float: right;
	}

}


/*Mobile*/
@media screen and (max-width: 536px){

 header nav ul li a{
    text-align: center;
    float: none;
    clear: both;
  }

  header span{
  }
  	nav ul{
	margin: 3%; /* make top nav banner thinner*/
	width: 90%;
	float: right;
	}

  nav ul li {
	background-color: #E9ECEC;
	list-style-type: none;
	padding-right: 20px;
	}

  nav ul li a {
	text-decoration: none;
	float: right;
	line-height: 5px;
	font-size: 15px;
}


}

