<section id="section_three">
  <div class="container-fluid">
    <div class="row">
      <section class="col-sm-offset-1 col-sm-4 blog_item">
        <span>Week 09</span>
        <ul>
          <li><a href="/blog-posts/cultural/9">Asking the Right Questions</a></li>
        </ul>
      </section>
      <section class="col-sm-offset-2 col-sm-4 blog_item">
        <span>Week 08</span>
        <ul>
          <li><a href="/blog-posts/technical/8">What is Rails??</a></li>
          <li><a href="/blog-posts/cultural/8">Dealing with Conflict</a></li>
        </ul>
      </section>
    </div>
    <div class="row">
      <section class="col-sm-offset-1 col-sm-4 blog_item">
        <span>Week 07</span>
        <ul>
          <li><a href="/blog-posts/technical/7">SQL Injection</a></li>
          <li><a href="/blog-posts/cultural/7">Values and Stereotype Threat</a></li>
        </ul>
      </section>
      <section class="col-sm-offset-2 col-sm-4 blog_item">
        <span>Week 06</span>
        <ul>
          <li><a href="/blog-posts/technical/6">{ Blocks, Procs & Lambdas }</a></li>
          <li><a href="/blog-posts/cultural/6">Everyday Sexism</a></li>
        </ul>
      </section>
    </div>
    <div class="row">
      <section class="col-sm-offset-1 col-sm-4 blog_item">
        <span>Week 05</span>
        <ul>
          <li><a href="/blog-posts/technical/5">class HowToRubyClasses</a></li>
          <li><a href="/blog-posts/cultural/5">Pairing & Feedback</a></li>
        </ul>
      </section>
      <section class="col-sm-offset-2 col-sm-4 blog_item">
        <span>Week 04</span>
        <ul>
          <li><a href="/blog-posts/technical/4">Enumerable #map</a></li>
          <li><a href="/blog-posts/cultural/4">Rewiring Your Wetware</a></li>
        </ul>
      </section>
    </div>
    <div class="row">
      <section class="col-sm-offset-1 col-sm-4 blog_item">
        <span>Week 03</span>
        <ul>
          <li><a href="/blog-posts/technical/3">Why Javascript?</a></li>
          <li><a href="/blog-posts/cultural/3">My Gregorc Thinking Style</a></li>
        </ul>
      </section>
      <section class="col-sm-offset-2 col-sm-4 blog_item">
        <span>Week 02</span>
        <ul>
          <li><a href="/blog-posts/technical/2">Classes vs. Ids</a></li>
          <li><a href="./unit1_projects/wireframe_sites.html">Wireframing Sites</a></li>
          <li><a href="./unit1_projects/my_wireframe.html">My Wireframe</a></li>
        </ul>
      </section>
    </div>
    <div class="row">
      <section class="col-sm-offset-1 col-sm-4 blog_item">
        <span>Week 01</span>
        <ul>
          <li><a href="/blog-posts/technical/1">Technical Blog: My favorite websites</a></li>
          <li><a href="/blog-posts/cultural/1">Shereef's Fireside Chat</a></li>
          <li><a href="http://bobandraa.github.io/unit1_projects/dbc1.html">Introductory Page</a></li>
          <li><a href="http://bobandraa.github.io/unit1_projects/dbc2.html">How to: Wrap Headphones</a></li>
        </ul>
      </section>
    </div>
  </div>
</section>
