<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 blog_entry">
      <div class="date">
        06.06.14
      </div>
      <div class="col-md-12 ">
        <a href="https://www.rdio.com"><img src="http://i.imgur.com/umKGXBu.png"/></a>
        <ul>
          <li>Why is this one of your favorite sites?</li>
          Rdio is one of my most frequently visited websites. It allows for users to create a collection by adding from a very large music database. In addition to listening to your collection, you can create and listen to playlists or stations based on your collection or specific artist. Rdio also allows you to connect o you friends and see what they’re listening to or share any new music discoveries with. Many say I’m their undercover spokeswoman :)
          <li>What area of the site is your eye drawn to when looking at the homepage? Stand back further, what area is your eye drawn to now? Is that area the most important area of the site?</li>
          Granted I spend most of my time on my profile page, their home screen’s vast space and lack of content boxes catches my eye first.  After further inspection, I noticed their background changes album covers with an opaque blue tint while large transparent text fill the center of the page with “Music evolved. Play and discover free.” Underneath is a “Facebook” button page, which allows for convenient connection. This is the most important part of the page.
          With the profile page, the album work in the collection catches my eye and when I inspect further, I notice my friend list to the right. I believe the collection in the center (where my eye was drawn to originally) is most important.
          <li>How would you describe the website visually? List 5 adjectives. </li>
          From now on I will refer to the sites profile page, as I believe that is where most users spend their time. The profile page has <i>clean</i> white space that is complemented with <i>neatly</i> organized text on left and right columns. It also has a <i>modern</i> feel because of the accentuated artwork in the largest column in the center. When music is playing, you have the option of displaying the music control bar to a screen. There, the background becomes a <i>blurred</i>, <i>dream-like</i> wide image of the album the current song is from.
          <li>What problem does this website solve? What content does it have?</li>
          This site solves the problem of illegal music downloading. For $10/mo I have access to all the music I could want on my computer or phone. It also allows for music sharing with friends.
          <li>What 5 adjectives would you use to describe the content, focus, and purpose of the site? How does that compare to the adjectives you used to describe the site visually?</li>
          The sites content, focus, or purpose could be described as <i>practical</i>, <i>vast</i>, <i>convenient</i>, <i>modern</i> &amp; <i>aesthetically pleasing.</i>  This closely compares to the adjectives I used to describe the site visually.
          <li>How easy is it to find what you are looking for from the homepage? How about from another page?</li>
          It is very easy and simple to navigate to different pages because there is a fixed search box in the top navigation as well a fixed vertical menu to the left of the page.
          <li>How easy is it to browse through all the content of the site?</li>
          Searching through the site is as easy as entering content into the search bar, selecting an artist, album, song, station, or playlist. You just need to scroll through libraries and click on what you want to listen to.
          <li>How do you feel after being on the site for a while? </li>
          I am usually passively on the site as I use it as a music player, but generally I feel happy or relaxed depending on what I’m listening to.
          <li>Does the site sell anything? If so, have you purchased any of it? Why or why not?</li>
          The site sells access to their music libraries through a membership and Yes; I have been subscribed to them for over a year now. I recommend their services to most everyone.
        </ul>
      </div>
      <div>
        <a href="http://www.littleco.com/"><img src="http://i.imgur.com/Cs76E0a.png"/></a>
        <ul>
          <li>Why is this one of your favorite sites?</li>
          Littleco.com is often a site I got to for inspiration. They have beautiful use of space, images, and unique fonts.
          <li>What area of the site is your eye drawn to when looking at the homepage? Stand back further, what area is your eye drawn to now? Is that area the most important area of the site?</li>
          My eye is initially drawn to the large image on the home screen. It evokes curiosity and then as you scroll down you see the top navigation until it becomes fixed at the top when you continue.  As you continue scrolling, all of their clients’ campaigns are listen in with large horizontal images.
          <li>How would you describe the website visually? List 5 adjectives. </li>
          Littleco.com is <i>visual</i>, <i>clustered</i> within an outline, <i>dynamic</i>, <i>clean</i>, and <i>inspiring.</i>
          <li>What problem does this website solve? What content does it have?</li>
          Littleco.com solves company branding issues. They redesign company logos and sites with the claim that they help “develop a deeper and more meaningful connection with consumers
          <li>What 5 adjectives would you use to describe the content, focus, and purpose of the site? How does that compare to the adjectives you used to describe the site visually?</li>
          The sites content, focus, or purpose could be described as <i>uplifting</i>, <i>artistic</i>, <i>developmental</i>, <i>beneficial</i>, and <i>influential.</i> Again, I believe this closely compares to the adjectives I used to describe the site visually.
          <li>How easy is it to find what you are looking for from the homepage? How about from another page?</li>
          It’s easy to find pages because all available pages are linked to the top navigation.
          <li>How easy is it to browse through all the content of the site?</li>
          Browsing is as easy as scrolling down the page to see all of their pervious work and contacts or by selecting about, process or blog in the top navigation.
          <li>How do you feel after being on the site for a while? </li>
          After visiting this site, I always feel inspired and creative.
          <li>Does the site sell anything? If so, have you purchased any of it? Why or why not?</li>
          Yes, it sells its designing services for companies. I have not purchased it because I have to be my own designer!
        </ul>
      </div>
      <div>
        <a href="https://imgur.com/"><img src="http://i.imgur.com/zJJFYYZ.jpg"/></a>
        <ul>
          <li>Why is this one of your favorite sites?</li>
          Imgur.com is a fun site to spend time on while taking a break from coding!
          <li>What area of the site is your eye drawn to when looking at the homepage? Stand back further, what area is your eye drawn to now? Is that area the most important area of the site?</li>
          My eye is drawn to all the silly or cute pictures located in the main container of the page.  Even when taking a step back, my eye is still drawn to all the images and judging by it’s name, I believe images are the most important area of the site :P
          <li>How would you describe the website visually? List 5 adjectives. </li>
          Imgur.com is <i>clustered</i>, <i>dark</i>, <i>straightforward</i>, <i>captivating</i>, and <i>simple.</i>
          <li>What problem does this website solve? What content does it have?</li>
          Imgur.com is a cure for boredom. Oh yea, it also it’s an online image hosting service.
          <li>What 5 adjectives would you use to describe the content, focus, and purpose of the site? How does that compare to the adjectives you used to describe the site visually?</li>
          The sites content, focus, or purpose could be described as <i>funny</i>, <i>cute</i>, <i>current</i>, <i>silly</i>, and
          <i>practical.</i>  There is a contrast with the adjectives used to describe the site visually. I think they wanted a simple and plain environment for the unforgettable images that they host.
          <li>How easy is it to find what you are looking for from the homepage? How about from another page?</li>
          Again, it’s easy to find pages because all available pages are linked to the top navigation.
          <li>How easy is it to browse through all the content of the site?</li>
          Browsing is as easy as clicking the “next” button to flip through the images.
          <li>How do you feel after being on the site for a while? </li>
          Depending on how long I spend on it I can either feel like a wasted a lot of time or I feel much amaze, such happy- wow :)
          <li>Does the site sell anything? If so, have you purchased any of it? Why or why not?</li>
          Yes, they offer a “pro account” for users to receive more features. In addition to image hosting, imgur also has a store that sells shirts, stickers, pillows etc. I haven’t purchased anything because I haven’t really needed more than the basic image hosting functionality they offer.
        </ul>
      </div>
    </div>
  </div>
</div>
