<h2>best practices: classes vs. ids</h2>
<div class="date">
  06.15.14
</div>
<div class="col-md-12 ">
  <p>
    Because classes and id’s function very similarly, it can be hard to distinguish their differences.
    They serve as “hooks” to attach styles to HTML elements. Both can either stand-alone or be defined with an HTML element in the style sheet.
    <div class="center_content">
      <a href="http://css-tricks.com/the-difference-between-id-and-class"><img src="http://i.imgur.com/CQhC7xs.png"/></a>
    </div>
    It is because their actions are seemingly interchangeable, that we can misunderstand when it is most advantageous to use one of the other.

  </p>
  <p>
    A great analogy from css-tricks.com highlights the unique property of id’s:
    <div class="center_content">
      <a href="http://css-tricks.com/the-difference-between-id-and-class"/><img src="http://i.imgur.com/st4dxRa.png" /></a>
    </div>
    Just like an individual iPod has only one serial number, only one html element can have a specific id and can only be used once on that HTML page.  This distinguishing characteristic is contrasted with the functionality of classes. Classes can be used on more than one element in a page and each element be hooked to more than one class. It's always good to rememeber
  </p>
  <p class="center_content">
    <b>
      "Information that is reuseable should be kept in a class and information that is totally unique should be kept in an ID."
    </b>
  </p>
</div>
