<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 blog_entry">
      <h2>Why Javascript?</h2>
      <div class="date">
        06.17.14
      </div>
      <div class="col-md-12 ">
        <p>
          Javascript (JS), not to be confused with Java, is a heavily supported  &amp; dynamic computer programming language.  JS may have had humble beginnings but has since grown immensely over the last decade in scope and application. This scripting language has been around for nearly twenty years, which has allowed for other frameworks and libraries to flesh out its capabilities.  It’s capacity to interpret and automate the execution of tasks is what makes JS a scripting language, but why do its’ self-proclaimed followers consider it to be the “*ultimate* scripting language”??
        </p>
        <h4>+ p r o s </h4>
        <div class="indent_list">
          <ul>
            <li>Libraries! Developers have written several helpful libraries to support the language and allow users to easily manipulate web pages with very few lines of code.</li>
            <li>Easy to learn! With a considerable amount free online of tutorials and resources and since it’s widely standardized across common browsers,  Javascript has become easier than ever to pick up.</li>
            <li>Prototyping! This opens the door for rapid development that would not be possible in a more structured language.</li>
            <li>Speed! Very fast because it reduces load on server.</li>
            <li>Support! Large helpful open source community.</li>
            <li>Debug! With the use of Chrome Dev Tools, users are easily able to debug.</li>
            <li>Default! JS  is already embedding in browsers.</li>
            <li>Node.js! Incredibly more powerful asynchronous language being used to handle the role of server side language as well.</li>
          </ul>
        </div>
        <h4>- c o n s </h4>
        <div class="indent_list">
          <ul>
            <li>Reliance! Can be interpreted differently in different browsers resulting in an unpredictable experience.</li>
            <li>Security! Since Javascript runs on the client-side, it presents a variety of security concerns and in some cases may be exploited for malicious purposes.</li>
            <li>Access denied! Web pages hosted on different domains can’t be accessed.</li>
          </ul>
        </div>
        <p>
          Javascript supplies users with extraordinary functionality. Like anything, it has its downsides but it’s all up to the developer to assess how they want to use it. Currently, there is so much development in new libraries and frameworks for Javascript that I can’t see anything but a bright future for the language.
        </p>
      </div>
    </div>
  </div>
</div>
