<% title = title || 'b o b a n d r a' %>

<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/application.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/normalize.css">
<link href="middleman/source/fonts/Proxima Nova Light.otf" >
<link href="http://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
