<!DOCTYPE html>
<html lang="em">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/blog.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/past_projects.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/current_projects.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <span class="nav-title"><%= title %></span>
        <a href="/"><span class="glyphicon glyphicon-share-alt back-button" aria-hidden="true"></span></a>
      </div>
    </nav>
    <div class="blogs_container">
      <%- body %>
    </div>
    <footer>
      <p>&copy; 2017 Sandra Cohen</p>
    </footer>
    <% include ../partials/scripts %>
  </body>
<html>
