<!DOCTYPE html>
<html lang="em">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/homepage.css">
  </head>
  <body>
    <%- body %>
    <% include ../partials/scripts %>
  </body>
</html>
