<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>06.10.14</title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/site_pages.css">
		<link href="middleman/source/fonts/Proxima Nova Light.otf" >
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<span>b o b a n d r a</span>
					<ul>
					<li><a href="http://bobandraa.github.io/">home</a></li>
					<li><a href="projects.html">projects<a/></li>
					<li><a href="about_me.html">about</a></li>
					<li><a href="mailto:sandra.cohen.ux@gmail.com">contact</a></li>
					</ul>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 entries">
					<div class="pre_content">
						<img src="http://i.imgur.com/vO76cPR.png"/></a>
						<p class="blog_formatting">
							I am an aspiring web developer currently studying at Dev Bootcamp, San Francisco. I'm originally born and raised in L.A. &amp; have been crawling my way up the California coast! If I'm not behind screens, I am aimlessly spending time in nature. Once you get to know me, my addiction to music (especially live) will become obvious. Feel free to check out my rdio account <a href="http://www.rdio.com/people/noizkisses/">here</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
	<footer >
		<p>&copy; 2014 Sandra Cohen</p>
	</footer>
<html>



