<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet2.css">
		<link href="middleman/source/fonts/Proxima Nova Light.otf" >
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<span>b o b a n d r a</span>
					<ul>
					<li><a href="http://bobandraa.github.io/">home</a></li>
					<li><a href="projects.html">projects<a/></li>
					<li><a href="about_me.html">about</a></li>
					<li><a href="mailto:sandra.cohen.ux@gmail.com">contact</a></li>
					</ul>
			</div>
		</nav>
		<section id="section_three">
			 <div class="container-fluid">
				<div class="col-md-12 center_blogs">
				<section class="col-md-4 pre_content entries">
				<span>Week 09</span>
				<ul>
					<li><a href="./blog-posts/week9_cultural.html">Asking the Right Questions</a></li>
				</ul>
			</section>
			<section class="col-md-4 pre_content entries">
				<span>Week 08</span>
				<ul>
					<li><a href="./blog-posts/week8_technical.html">What is Rails??</a></li>
					<li><a href="./blog-posts/week8_cultural.html">Dealing with Conflict</a></li>
				</ul>
			</section>
			<section class="col-md-offset-1 col-md-4 pre_content entries">
			<span>Week 07</span>
				<ul>
					<li><a href="./blog-posts/week7_technical.html">SQL Injection</a></li>
					<li><a href="./blog-posts/week7_cultural.html">Values and Stereotype Threat</a></li>
				</ul>
			</section>
			<section class="col-md-offset-1 col-md-4 pre_content entries">
				<span>Week 06</span>
				<ul>
					<li><a href="./blog-posts/week6_technical.html">{ Blocks, Procs & Lambdas }</a></li>
					<li><a href="./blog-posts/week6_cultural.html">Everyday Sexism</a></li>
				</ul>
			</section>
			<section class="col-md-offset-1 col-md-4 pre_content entries">
				<span>Week 05</span>
				<ul>
					<li><a href="./blog-posts/week5_technical.html">class HowToRubyClasses</a></li>
					<li><a href="./blog-posts/week5_cultural.html">Pairing & Feedback</a></li>
				</ul>
			</section>
			<section class="col-md-offset-1 col-md-4 pre_content entries">
				<span>Week 04</span>
				<ul>
					<li><a href="./blog-posts/week4_technical.html">Enumerable #map</a></li>
					<li><a href="./blog-posts/week4_cultural.html">Rewiring Your Wetware</a></li>
				</ul>
			</section>
			<section class="col-md-offset-1 col-md-4 pre_content entries">
				<span>Week 03</span>
				<ul>
					<li><a href="./blog-posts/week3_technical.html">Why Javascript?</a></li>
					<li><a href="./blog-posts/week3_cultural.html">My Gregorc Thinking Style</a></li>
				</ul>
			</section>
			<section class="col-md-offset-1 col-md-4 pre_content entries">
				<span>Week 02</span>
				<ul>
					<li><a href="./blog-posts/week2_technical.html">Classes vs. Ids</a></li>
					<li><a href="./unit1_projects/wireframe_sites.html">Wireframing Sites</a></li>
					<li><a href="./unit1_projects/my_wireframe.html">My Wireframe</a></li>
				</ul>
			</section>
			<section class="col-md-offset-1 col-md-4 pre_content entries">
				<span>Week 01</span>
				<ul>
					<li><a href="./blog-posts/week1_technical.html">Technical Blog: My favorite websites</a></li>
					<li><a href="./blog-posts/week1_cultural.html">Shereef's Fireside Chat</a></li>
					<li><a href="http://bobandraa.github.io/unit1_projects/dbc1.html">Introductory Page</a></li>
					<li><a href="http://bobandraa.github.io/unit1_projects/dbc2.html">How to: Wrap Headphones</a></li>
				</ul>
			</section>
			</section>
        </body>
	<footer>
		<p>&copy; 2014 Sandra Cohen</p>
	</footer>
<html>