<header class="banner-img full-height">
  <section>
    <nav class="nav">
      <span class="nav-title"><%= title %></span>
    </nav>
  </section>
</header>
<section id="red_background">
  <div class="container-fluid row">
    <div class="col-md-10 col-md-offset-1 entries ">
      <div class="pre_content">
        <img class ="ri" src="../static/img/about-me.png"/>
        <p class="text_formatting">
          I am a web developer with a pixel-perfect eye looking for opportunities to apply skills acquired from Dev Bootcamp, San Francisco.
          I'm originally born and raised in L.A. &amp; have been crawling my way up the California coast! If I'm not behind screens, I am aimlessly spending time in nature. Once you get to know me, my addiction to music (especially live) will become obvious.
        </p>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <section>
    <h2>
      Get in touch with me
    </h2>
    <div class="social center_content">
      <ul class="social">
        <li>
         <a href='https://www.facebook.com/sandra.bobandra.1227'>
           <span aria-hidden="true" data-icon="&#xe602;"></span>
         </a>
       </li>
       <li>
        <a href='https://plus.google.com/118325061503822654615'>
          <span aria-hidden="true" data-icon="&#xe601;"></span>
        </a>
      </li>
      <li>
       <a href='https://github.com/bobandraa'>
         <span aria-hidden="true" data-icon="&#xe604;"></span>
       </a>
     </li>
     <li>
       <a href='https://www.linkedin.com/in/sandrancohen'>
         <span aria-hidden="true" data-icon="&#xe605;"></span>
       </a>
     </li>
     <li>
       <a href='https://twitter.com/_Bobandra'>
         <span aria-hidden="true" data-icon="&#xe603;"></span>
       </a>
     </li>
   </ul>
   <div id="contact-form-box">
     <form action= "/email" method="post">
      <h4>email<h4>
        <input type="email" class="form-control col-md-6" name="email" required>
        <h4>message<h4>
          <textarea class="form-control col-md-6 " rows="5" name="message" required></textarea>
          <input type="submit" id="enter-submit" class="btn btn-default btn-lg ri mr-t" value="s e n d">
        </form>
      </div>
    </div>
  </section>
</footer>
