<section id="red_background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="panel">
          <div class="panel-body">
            <div class="col-sm-4">
              <a href="http://i.imgur.com/7WIzKnP.png" target="_blank" class="project-link">
                <img src="http://i.imgur.com/7WIzKnPl.png" class="project-img" />
                <div class="project-img-overlay">
                  <span class="project-title">
                    Zefr
                  </span>
                </div>
              </a>
            </div>
            <div class="col-sm-8 project-content">
              <p>"About Us" page which allows users to click on a thumbnail of an employee &amp; expands above the thumbnails. Subsequent thumbnails would slide in from the right. In addition to the sliding functionality, an animation was added to make the action look smooth</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="panel">
          <div class="panel-body">
            <div class="col-sm-4">
              <a href="http://i.imgur.com/JUq44MQ.png" target="_blank" class="project-link">
                <img src="http://i.imgur.com/JUq44MQl.png" class="project-img" />
                <div class="project-img-overlay">
                  <span class="project-title">
                    WeJam
                  </span>
                </div>
              </a>
            </div>
            <div class="col-sm-8 project-content">
              <p>WeJam is a music-centric application that brings musicians together via geolocation. WeJam simplifies the process for musicians to come together and create music.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="panel">
          <div class="panel-body">
            <div class="col-sm-4">
              <a href="http://i.imgur.com/ySK2swY.png" target="_blank" class="project-link">
                <img src="http://i.imgur.com/ySK2swYl.png" class="project-img" />
                <div class="project-img-overlay">
                  <span class="project-title">
                    Dropify
                  </span>
                </div>
              </a>
            </div>
            <div class="col-sm-8 project-content">
              <p>Dropify is a mobile-first web application that allows users to 'drop' messages and photos in their current location to be later found by others. Wander around a city and discover experiences and memories left by other Dropify users.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
