<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Bobandraa</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
	    <link href="middleman/source/fonts/Proxima Nova Light.otf" >
	    <link href="http://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet" type="text/css">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>	


	<body>
	<header> 
		<span>b o b a n d r a</span>
		 <nav class="clearfix">
		 	<ul>
		 		<li><a href="http://bobandraa.github.io/">home</a></li>
		 		<li><a href="././projects.html">projects<a/></li>
		 		<li><a href="././about_me.html">about</a></li>
		 		<li><a href="mailto:sandra.cohen.ux@gmail.com">contact</a></li>
		 	</ul>
		 </nav>
	</header>

	<div class="coming_soon" id="page_content">
		coming soon
	</div>
	<footer>
		<p style="position:fixed">&copy; 2014 Sandra Cohen</p>
	</footer>
	</body>	
</html>

