<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 blog_entry">
      <h2>Fireside Chat with Shereef</h2>
      <div class="date">
        06.10.14
      </div>
      <div class="col-md-12">
        <p>
          Shereef's Fireside Chat video was inspiring on so many levels. I felt a great sense of pride and excitement just from being given the opportunity to participate in DBC's multi-modal environment. My impression of DBC has been evolving with everyday that passes. Some days I feel like it’s a very tough, strict environment other days I feel like it’s a supportive community that will help me grow as a person. In all honesty, I believe that most of my anxiety and fear stems from within and my own expectations for myself. I was happy to hear Shereef talk about being inspired with someone’s knowledge rather than competitive. At the end of the day, we are all here to learn and at times it’s hard not to compare yourself to someone else’s proven skill.I’m very excited to begin participating and becoming part of this community. I know that it will be beyond challenging but I keep reminding myself (and as I am reminded by others, thankfully) that any future task only provides an opprotunity for growth and development.
          It’s only been the first week and I find that the hardest part is when I am alone with my anxieties about my capabilities. I do, at times, feel like I create a stressful situation when there shouldn’t be. I’ve learned quickly that as long as any problems are expressed, the less time is spent in a anxiety driven cycle. Our community has been really fantastic at responding to questions and just chatting about a challenge. Feeling more at peace after I speak to the tiger swallowtails makes me that much more excited to begin learning beside them :)
        </p>
      </div>
    </div>
  </div>
</div>
