<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 blog_entry">
      <h2>Why Javascript?</h2>
      <div class="date">
        006.22.14
      </div>
      <div class="col-md-12 ">
        <div id="page_content">
          <p>
            In this post I will be discussing my <a href ="http://web.cortland.edu/andersmd/learning/gregorc.htm">Gregorc Thinking Style</a> and ways in which I can use what I have learned to identify strategies to help me get the most out of my experience at DBC.
          </p>
          <p>
            My thinking style was Concrete Random and only 4 points away from Concrete Sequential. While I find it benificial to identify the advantages and disadvantages of both thinking styles, I will focus mainly on the dominating Mind Style of Concrete Random.
          </p>
          <section class="indent_list">
            <div>
              <h2>Characteristics of each Thinking Style:</h2>
              The Mind Style model describes the mind <b>Concrete Random</b> as learning best while:
              <ul>
                <li>+ Creatively solving problems, hands-on.</li>
                <li>+ Being self-directed, driven by what interests me.</li>
                <li>+ Using Trial &amp; Error approaches.</li>
              </ul>
              And struggles when:
              <ul>
                <li>- Having to explain how they arrived at a solution or answer.</li>
                <li>- Having to give up on something.</li>
                <li>- Pacing themselves and working within specific time frames</li>
              </ul>
              The Mind Style model describes the mind <b>Concrete Sequential</b> as learning best when:
              <ul>
                <li>+ Working in a logical sequence.</li>
                <li>+ Given approval for specific work done.</li>
                <li>+ Guided practice.</li>
              </ul>
              And struggles when:
              <ul>
                <li>- Taking new approaches.</li>
                <li>- Making choices.</li>
                <li>- Pacing themselves and working within specific time frames</li>
              </ul>
            </div>
            <div>
              <h2>Phase 0 Struggles as a Concrete Random Thinker</h2>
              <ul>
                <li>- <em>Having to explain how they arrived at a solution or answer.</em><br>Reflections have proved very difficult to articulate and semi repetitive.</li>
                <li>- <em>Having to give up on something.</em><br>There seems to be noticeable resistance to deleting code that doesn’t serve me anymore. I usually hold on for life to a chunk of code and work around it even if it isn’t efficient.</li>
                <li>- <em>Pacing themselves and working within specific time frames.</em><br>I find that I will work for hours without breaks and burn myself out. If I’m going to retain anything, taking breaks is absolutely necessary! I knew this going into DBC, but still find it difficult. I will work on making this a habit.</li>
              </ul>
            </div>
            <div>
              <h2>Strategies to implement while at DBC:</h2>
              <ul>
                <li>- <em>Having to explain how they arrived at a solution or answer.</em><br>Make comments as I code so that I can rehearse those steps. This will also help solidify what I have learned.</li>
                <li>- <em>Having to give up on something.</em><br>Don’t get to attached to code!(no matter how long it took me to create it!)! DBC is fast-paced and dwelling on old code will only hold you back!</li>
                <li>- <em>Pacing themselves and working within specific time frames.</em><br>Make a habit of jotting down a schedule of what you want to work on and INCLUDE BREAKS.</li>
              </ul>
            </div>
            <div>
              This approach always seems easy and obvious to see when removed from the situations in which they need to be practiced. My biggest challenge will be to remind myself of these strategies.
              <div class="center_content">
                <br>
                STEP 1   Buy post-it’s
                <br>
                STEP 2  Jot down reminders
                <br>
                STEP 3   Create mindful habits!
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
