<a href="https://www.youtube.com/watch?v=LhjsRjC6B8U"><h1>Everyday Sexism</h1></a>
<div>
  <p>
    Initially, I was hoping to explore and make light of a less discussed stereotype.  But after spending only an hour at my current position yesterday, it became clear that I needed to voice my experiences with sexism and its slow-acting eventual negative implications on individuals’ mindset as well as performance.  I am, and have been the only female in my company for the past year and a half. This didn’t faze me since I was raised by my father and brother and have generally always been around a majority of males (most of my friends are males and I lived in a house of all males all through college). This was just another coincidence.  In the past several months however, I have been increasingly more aware of the very obvious divide not only in treatment but also in realization, or lack thereof, that one even exists between males and females.
  </p>
  <p>
    If I’m being completely honest here, my own awareness has only been recent, shamefully. But what’s most alarming is that I have been living a life where it was just the norm. Perhaps my lack of realization stems from being raised around males. I was usually always warned away from things out of love because they were "concerned" but I definitely feel that it resulted in my acceptance of what was and not push to try harder when I was younger. I am not saying that my family was/is trying to prevent me from succeeding but I don’t think that they fully realize the way they treat me can make me feel inferior.  Luckily, I’m very headstrong (some say stubborn) so I found myself ignoring most of that and choosing to be independent at a very early age
  </p>
  <p>
   Recently, several companies including <a href="https://www.youtube.com/watch?v=XP3cyRRAfX0">Verizon</a>, <a href="http://time.com/2927761/likeagirl-always-female-empowerment/">Always</a>, and <a href="https://www.youtube.com/watch?v=kOjNcZvwjxI">Pantene</a> have been engaging in campaigns to raise awareness of distorted perceptions of what it is “to be a girl” and how can actually mold individuals.
  </p>
  <h3>Good Girl</h3>
  <p>
    In the workplace, I think I subconsciously took note of certain remarks but just shrugged them off. What prompted me to decide to write about sexism is not that it has increased dramatically or anything like that. It was simply my newfound awareness that this was and has been happening. The most recent encounter is a great example of how sexism is mixed into so-called praise by a person who had no intention to explicitly talk down to me. When I presented work on a project to my manager, they responded with "good girl". That statement initially made me feel like I had to be <em>grateful</em> of praise rather than deserving of it. I’m positive if I were male, they wouldn’t have responded with "good boy". And this is just one example. Little things like that can be shrugged off, but why?? I truly believe that the more an individual is faced with situations that chip away at an eroding self-perception, the more they will believe that that is what they are worth.
  </p>
  <h3>Gender Roles</h3>
  <div>
    <img src="http://i.imgur.com/tUwJSTc.jpg"/></a>
  </div>
  <p>
    Dealing with stereotype threat is always difficult to do especially since we believe that social reforms have changed (id urge you to click on the title of this blog) and that raising an issue of sexism is, in and of itself taboo. Although I did not raise any attention to my most recent experience at work (or any previous ones), I plan to act on and stop any form of sexist remarks- intentional or not. I plan on providing meaningful feedback by asking that individual if they would have talked that way to another male. If not why? If so, touché. I can already tell that I will be surrounded by considerate individuals at DBC, so if I were to mention that I felt as if I was being talked down to or stereotyped for being a female, I think the feedback would be welcomed. At least I hope so. I have also been made out to feel like I was making a fuss out of what seemed to be nothing in the past.
  </p>
  <p>
    I know that Dev Bootcamp is pretty big on women’s activism in software.  They hold engineering empathy sessions that discuss how a dominating male presence can make women feel alienated or uncomfortable. Hopefully they also provide tools in order to address the topic without anyone being offended.
  </p>
</div>