<h1>Week 7 Cultural Blog</h1>
<div>
  <div>
    <div>
      <img src="http://i.imgur.com/eLN1Qzb.png" title="tree_nine" style= "float: left"/></a>
    </div>
    <div>
      The following values contributed to my experiences of happiness, satisfaction and pride:
      <ul>
        <li>
          Ambition
        </li>
        <li>
          Affection
        </li>
        <li>
          Challenge
        </li>
        <li>
          Creativity
        </li>
        <li>
          Music
        </li>
        <li>
          Nature
        </li>
        <li>
          Close Relationships
        </li>
        <li>
          Growth
        </li>
        <li>
          Independence
        </li>
        <li>
          Inspiration
        </li>
        <li>
          Order
        </li>
        <li>
          Personal Development
        </li>
        <li>
          Family
        </li>
        <li>
          Will-Power
        </li>
        <li>
          Persistence
        </li>
      </ul>
    </div>
    &nbsp;
    <div>
      <h3>P E R S I S T E N C E</h3>
      <p>
        To me, the most satisfying feeling is witnessing the accomplishments that took the most vigilance, determination, hard work, and above all persistence. If one stays persistent, I believe that any future task (successful or not) brings only the potential for growth and development.
      </p>
      <h3>Values I Live Up To</h3>
      <p>
        In general, I try to live up to these values (1 = Disagree, 5 = Agree):
        <ul>
          <li>
            Ambition - 4
          </li>
          <li>
            Affection - 4
          </li>
          <li>
            Challenge - 4
          </li>
          <li>
            Creativity - 3
          </li>
          <li>
            Music - 4
          </li>
          <li>
            Nature - 3
          </li>
          <li>
            Close Relationships - 5
          </li>
          <li>
            Growth - 5
          </li>
          <li>
            Independence - 5
          </li>
          <li>
            Inspiration -3
          </li>
          <li>
            Order - 4
          </li>
          <li>
            Personal Development - 5
          </li>
          <li>
            Family - 5
          </li>
          <li>
            Will-Power - 3
          </li>
          <li>
            Persistence - 4
          </li>
        </ul>
      </p>
      <h3>Advice</h3>
      <div>
        Well, If I’m being completely honest on the <em>last</em> topic someone asked my advice on, it would be fashion…I guess? I helped my housemate choose an outfit last night...
        <br/>
        But a more meaningful time was when a childhood friend of mine recently asked how/why I   chose to pursue web development. She has been out of university for a few years now and said she was feeling stagnant. Because she is so driven and eager to learn, she has become bored of her current position at 24 Hour Fitness' corporate office. My advice to her was to always try to live your life with one dream/goal to fulfill; it can be anything. No matter how many of your dreams you have realized in the past, you always want to have one more to go. I believe, when you stop dreaming or working towards something, life becomes mundane.
      </div>
      <h3>Values &amp; Stereotype Threat</h3>
      <div>
       When I read through the values I have listed I feel hopeful and excited for my future. Each one has great purpose and significance to my overall success and well-being. I think that my affection and sensitivity (although obnoxiously hyper) will help me identify situations that stereotype threat is present. I am however, still unsure of how to address that I feel stereotyped without creating any tension among my peers.
      </div>
      <h3>Tidbits to Rememeber while at DBC</h3>
      <div>
        I feel like I may have instances of lack of motivation or may have trouble remaining vigilant, but I must remember to stay persistent and press on. I need to also remember that even in frustration, programming is fun :)
        <br/>
        A quote that helps me is : <br/>
        <p>
          “Press on – nothing can take the place of persistence. Talent will not; nothing is more common than unsuccessful men with talent. Genius will not; unrewarded genius is almost a proverb. Education will not; the world is full of educated derelicts. Perseverance and determination alone are omnipotent.”
          <br/>
          -Calvin Coolidge
        </p>
      </div>
    </div>
  </div>
</div>
