<h3>Dealing with Conflict</h3>
<div class="date">
  07.26.14
</div>
<div class="col-md-12 ">
  <p class="blog_formatting">
   Naturally, I find that I am very outspoken and blunt. When I notice or feel even the slightest tension, I usually (95% of the time), confront it. Because I attempt to diffuse situations that have the potential to be disastrous, I have seemingly dodged several unnecessary conflicts.
 </p>
 <p class="blog_formatting">
   The most recent conflict that comes to mind was between a housemate and myself about a week ago. Recently, two more housemates joined us at the Channing House (yes, my house has a name :) ), bringing our total to seven housemates (we’re been ten at the worst of times!). As in any new situation, the first weeks or even months, everyone was still trying to gauge the other housemates, learn their schedule, etc… For the most part, everyone seemed to get a long and even had much in common (a Craigslist miracle!)
 </p>
 <p class="blog_formatting">
   One of the housemates, however, didn’t seem to take the time to get to know the house and instead seemed to have established his own assessment based on his short glimpse. I wouldn’t say that I’m OCD, but… well… yea, I guess I’m OCD or at the very least, value cleanliness.  One day, after spending my day cooped up in my room working on DBC challenges, I realized that I haven’t eaten since morning (I’m sure you can relate).   When I was downstairs making dinner, this housemate was also in the kitchen hanging out. We chatted about this and that; really very natural and friendly. At one point, he said that he had something to tell me “on a serious note.""
 </p>
 <p class="blog_formatting">
   Initially, I was concerned since his voice got very soft.  Then in a calm, almost condescending tone, he said that he really doesn’t enjoy washing other peoples dishes. Mind you, he said ‘other peoples’ while speaking to me. I can see his efforts in not pointing the finger, but it almost seemed passive. Because of my aforementioned OCD, I felt my blood starting to boil but really tried to control it. I mean, he was preaching to the choir.  I told him that I completely understand his frustrations, and that he shouldn’t clean other people’s messes.  From then forward, I felt like there was no active dialogue because to every response I had, I received almost the same exact statement, in almost the same exact tone. I don’t know if it was being I was programming all day or that I haven’t eaten or the combination of the two, but I finally just responded by saying that I felt like he was implying that he was cleaning up after me. I was met with wide eyes, an open mouth, and silence. Which made it seem like my question was absurd and offensive. Again, he said the same thing, even quieter and even slower as if he thinks that I didn’t understand or even speak English.  He mentioned that he was just trying to express himself, which I’m all for! But as I was trying to express that, he quickly reiterated the same point to triple check that he was heard and it didn’t matter what I had to say.
 </p>
 <p class="blog_formatting">
   I do believe that my response is less than perfect and was not what he was anticipating. My blunt response can sometimes take people by surprise, but I think it’s better to communicate rather than passively hold judgment. This entire situation only lasted about ten minutes (really minor). In the end, we came to an agreement that we both wanted the kitchen to remain clean. I did still feel a bit of tension but as I was finishing up, I just reiterated that we both wanted the same thing and there are no hard feelings.
 </p>
 <p class="blog_formatting">
  I do not think I would have handled the situation any differently, especially because I think it is very important to communicate ones feelings rather than to passively be talked at. Everyone has their point-of-view and their motivations. If expressed, it can create a deeper understanding between people.
</p>
</div>
