<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 blog_entry">
      <h3>Asking the Right Questions at DBC</h3>
      <div class="date">
        07.30.14
      </div>
      <div class="col-md-12 ">
        <div class="center_content">
          <img src="http://i.imgur.com/2BJAlGj.png" title="good question" class="img_resize"/>
        </div>
        <p class="blog_formatting">
          Anytime someone is attempting to learn a new skill, they are bound to have questions.   And, the more unfamiliar the material is doesn’t necessarily equate to a larger amount of questions. If anything, beginners usually ask more general questions and for every piece of knowledge acquired, you realize that there is so much more to learn. While exploring such unknown concepts, learning the correct vocabulary to describe your thoughts is absolutely necessary.
        </p>
        <p class="blog_formatting">
         I can actually vaguely remember one of the first times attempting to code and uttering something like, “ Why does this <em>thing</em> give you <em>that</em>?” Really specific. And although a concept, however basic, makes sense in your mind, the person attempting to help you can’t always understand what you’re implying or your level of familiarity with it.  Granted, working through Phase 0 has equipped me with a lexicon to better aid me in articulating my thoughts and questions, but that is only partially helpful when asking a good question.
       </p>
       <h3>What's a <em>Good Question</em></h3>
       <p class="blog_formatting">
        Other than the aforementioned importance to learn the correct terminology, organizing your question is the most important when trying to convey areas where you are having difficulty. I know we are all trying to keep up with the extensive amount of information at Dev Bootcamp, so I thought I would list the top 3 tips to keep in mind when formulating a question.
      </p>
      <div class="blog_formatting">
        <ul>
          <li>
            +<b>Pause!</b> Take a moment to really break down the problem. Most times, at least for me, I end up trying to solve everything at once. It helps to break up the problem into smaller, more digestible bits. Try researching those specific terms and working through it. If you still get stuck, having your code broken up will only help the person later assisting you understand where you are.
          </li>
          <li>&nbsp;</li>
          <li>
            +When all internal attempts at solving the problem are exhausted and you need to ask for help, make sure to give as many details that can help them identity the problem in the shortest most concise way.  While a very popular tip is to keep your questions short and sweet, it must also be specific, so take the time to organize your question beforehand.
          </li>
          <li>&nbsp;</li>
          <li>
            +Be responsive to their solutions. If you still have questions, make sure to vocalize it so that they can make a few clarifications.  Try to give examples of the areas that are confusing to you rather than the blanketed, “I don’t get it” because chances are that they don’t get your question either…
          </li>
        </ul>
        <p class="blog_formatting">
         Good luck to everyone!! Hopefully this summary was helpful!
       </p>
      </div>
    </div>
  </div>
</div>
